{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "semi": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "plugins": ["@prettier/plugin-pug"],
    "overrides": [
        {
            "files": "*.pug",
            "options": {
                "parser": "pug",
                "pugSingleQuote": false,
                "pugAttributeSeparator": "none",
                "pugClassNotation": "literal",
                "pugIdNotation": "literal"
            }
        }
    ]
}
