footer.bg-ink.py-4.mt-auto
    .container(style='max-width: 1200px;')
        .row.align-items-center.justify-content-between.flex-column.flex-sm-row
            .col-auto
                .small.m-0.text-white &copy; #{new Date().getFullYear()} Integrum Systems. All rights reserved.
            .col-auto
                a.link-light.small(href='privacy.html') Privacy
                span.text-white.mx-1 &middot;
                a.link-light.small(href='terms.html') Terms
                span.text-white.mx-1 &middot;
                a.link-light.small(href='contact.html') Contact